
/* SIDE NAVBAR */

/* The sidebar menu */
.sidenav {
    width: 160px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    overflow-x: hidden; /* Disable horizontal scroll */
    margin-top: 25%
}

/* The navigation menu links */
.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: black;
    display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #8b0000;
}

/* Style page content */
.main {
    margin-left: 160px; /* Same as the width of the sidebar */
    padding: 0px 10px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}



/* HERO SECTION */

.nav{
  background-color: #fffaF0;
  float: right;
  margin-right: 2rem;
  margin-top: 1rem;
}

.nav-link{
  color: #8b0000;
  padding: 0.5rem;
}

.fa{
  padding: 0.5rem;
  color: #8b0000;
}

.hero-section{
  height: 800px;
}

.jumbotron{
  height: 100%;
  background-color: #fffaF0;
}

.display-4{
  text-align: center;
  color: #8b0000;
  padding-top: 10%;
  font-size: 4rem;
  font-family: Palatino;
  text-shadow: 0 0 15px rgba(0,0,0,0.1);

}

#typedtext{
  text-align: center;
  color: #8b0000;
  padding-top: 10%;
  font-size: 4rem;
  font-family: Palatino;
  text-shadow: 0 0 15px rgba(0,0,0,0.1);

}

.lead{
  margin: auto;
  text-align: center;
}


/* DESCRIPTION SECTION */

.logo{
  margin-top: 5rem;
}
.description-section{
  height: 800px;
}

.intro-text{
  width:100%;
  margin: auto;
  text-align: center;
  position: relative;
}


.text-wrapper{

  width: 100%;
  height: 100%;
  display: inline-block;
  background-color: coral;
  opacity: 1;
  text-align: center;
}


h3 {
  color: black;
  font-size: 2em;
  font-family: 'Caveat', cursive;
  word-break: normal;
  text-transform: uppercase;
  max-width: 90%;
  margin: auto;
}

.about {

  color: white;
  font-weight: 400;
  line-height: 1.5;
  text-transform: uppercase;
  letter-spacing: 0.375rem;
  font-family: helvetica, arial, sans-serif;
  font-size: 1.9em;
  padding: 1em;
  border: solid 2px white;
  margin: 3em 15em;

}

/* TEXT AREAS */

.row{
width: 100%;
margin: 0;
background-color: #fffaF0;
}

.medium-text, .platform-text, .aim-text{
  padding-top: 5em;
}

p {
  color: black;
  font-family: "HelveticaNeue-Ultralight";
  font-size: 2em;
  padding-left: 2em;
  padding-right: 2em
}

.col-6{
  padding: 0;
  height: 100%;
}

.text{
  height: 800px;
}

.img-1{
  height: 800px;
}

hr{
  margin: 0;
  border-top: none;
}

/* CONTACT SECTION */

.contact-wrapper{
  padding-top: 9em;
}

.text-contact-wrapper{

  width: 100%;
  height: 100%;
  display: inline-block;
  background-color: white;
  opacity: 1;
  text-align: center;
}

#launch{

  color: #8b0000;
  font-size: 4em;
  font-family: "HelveticaNeue-Ultralight";
  margin-top: 0;
  word-break: normal;
  text-transform: uppercase;
  max-width: 90%;
  margin: auto;
  padding-top: 2em;

}

.contact{
  height: 800px;
  background-color: white;
}

.form-control{
  width: 70%;
  margin: auto;
  margin-top: 3em;
  margin-bottom: 3em;
  text-align: center;
}


/* FOOTER SECTION */
.footer{
  text-align: center;
  font-size: 1em;
}
