
/* HERO SECTION */

.hero-section{
  height: 800px;
}

.jumbotron{
  height: 100%;
  background-color: #fffaF0;
}

.display-4{
  text-align: center;
  color: #8b0000;
  padding-top: 10%;
  font-size: 5rem;
  font-family: Palatino;
  text-shadow: 0 0 15px rgba(0,0,0,0.1);

}

.lead{
  margin: auto;
  text-align: center;
}


/* DESCRIPTION SECTION */

.description-section{
  height: 800px;
}

.intro-text{
  width:100%;
  margin: auto;
  text-align: center;
  position: relative;
}


.text-wrapper{

  width: 100%;
  height: 100%;
  display: inline-block;
  background-color: coral;
  opacity: 1;
  text-align: center;
}

.sapiens{

  color: white;
  font-size: 8em;
  font-family: 'Caveat Brush', cursive;
  margin-top: 0;
  word-break: normal;
  text-transform: uppercase;
  max-width: 90%;
  margin: auto;

}

h3 {
  color: black;
  font-size: 2em;
  font-family: 'Caveat', cursive;
  word-break: normal;
  text-transform: uppercase;
  max-width: 90%;
  margin: auto;
}

.about {

  color: white;
  font-weight: 400;
  line-height: 1.5;
  text-transform: uppercase;
  letter-spacing: 0.375rem;
  font-family: helvetica, arial, sans-serif;
  font-size: 1.9em;
  padding: 1em;
  border: solid 2px white;
  margin: 3em 15em;

}

/* TEXT AREAS */

.row{
width: 100%;
margin: 0;
}

.medium-text, .platform-text, .aim-text{
  padding-top: 5em;
}

p {
  color: black;
  font-family: "HelveticaNeue-Ultralight";
  font-size: 2em;
  padding-left: 2em;
  padding-right: 2em
}

.col-6{
  padding: 0;
  height: 100%;
}

.text{
  height: 800px;
}

.img-1{
  height: 800px;
}

hr{
  margin: 0;
  border-top: none;
}

/* CONTACT SECTION */

.contact-wrapper{
  padding-top: 9em;
}

.launch{

  color: white;
  font-size: 4em;
  font-family: "HelveticaNeue-Ultralight";
  margin-top: 0;
  word-break: normal;
  text-transform: uppercase;
  max-width: 90%;
  margin: auto;
  padding-top: 2em;

}

.contact{
  height: 800px;
  background-color: coral;
}

.form-control{
  width: 70%;
  margin: auto;
  margin-top: 3em;
  margin-bottom: 3em;
  text-align: center;
}


/* FOOTER SECTION */
.footer{
  text-align: center;
  font-size: 1em;
}
